.App{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media(max-width:1200px){
  body{
      background-image: none;
      background-color: #000;
  }
  body::after{
      content: 'ONLY FOR DESKTOPS';
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%);
      color: #fff;
  }
  body>*{
      display: none;
  }
}